<div class="guest-edit-container">
  <h1>Edit Guests</h1>
  <div class="guest-edit-form">
    <div class="input-container">
      <label for="">Name</label>
      <input type="text" placeholder="Client Name">
    </div>
    <div class="input-container">
      <label for="">Email</label>
      <input type="text" placeholder="example@email.com">
    </div>
    <div class="input-container">
      <label for="">Status</label>
      <input type="text" placeholder="Status">
    </div>
  </div>
</div>
  