<div class="main-container">
  <div class="main-header">
    <div class="main-logo">Logo</div>
    <div class="main-profile">
      <i class="fa fa-user"></i>Administrator
    </div>
    <i class="fa fa-sign-out" (click)="onClickLogout()" style="cursor: pointer; margin-left: 20px;"></i>
  </div>
  <div class="main-body">
    <div class="body-header">
      <i class="fa fa-users"></i>Guests
    </div>
    <div class="body-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
