@import '../../../assets/color-definitions.scss';

.guest-list-container {
  position: relative;
  button {
    position: absolute;
    top: 10px;
    right: 0;
    color: $white;
    background: $dark-blue;
  }
  .search-container {
    text-align: end;
    margin-bottom: 10px;
  }
  .guest-list-table {
    border-top: 1px solid $grey;
    border-left: 1px solid $grey;
    .guest-list-table-header {
      display: flex;
      .header-cell {
        border-bottom: 1px solid $grey;
        border-right: 1px solid $grey;
        padding: 10px;
        font-weight: bolder;
        white-space: nowrap;
      }
    }
    .guest-list-table-body {
      .body-row {
        display: flex;
        cursor: pointer;
        &:hover {
          font-weight: 500;
        }
        &:nth-child(odd) {
          background: $light-grey;
        }
        .body-cell {
          border-bottom: 1px solid $grey;
          border-right: 1px solid $grey;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          .status {
            padding: 3px;
            border-radius: 3px;
            color: $white;
            background: $light-blue;
            white-space: nowrap;
          }
          .active {
            background: $green;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  .header-cell, .body-cell-content {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .header-cell, .body-cell-content {
    overflow-x: auto;
    scrollbar-width: thin;
    width: 100%;
  }
  
}

/* width */
::-webkit-scrollbar {
  height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark-blue; 
}
