<div class="background-container">
  <div class="login-frame">
    <div class="login-container">
      <div class="login-header">Sign In</div>
      <div class="login-form">
        <div>
          <input type="text" name="userName" placeholder="Username">
          <span class="error">Username does not exist</span>
        </div>
        <div>
          <input type="text" name="password" placeholder="Password">
          <span class="error">Incorrect password</span>
        </div>
        <div>
          <input type="checkbox" name="rememberMe" placeholder="Password">
          <label for="rememberMe">Remember me</label>
        </div>      
      </div>
      <div class="login-submit">
        <button>Login</button>
      </div>
    </div>
  </div>
</div>
